# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. HTML
3. java

**Objectives:**
- List popular languages for Data Science  
- Identify commonly used libraries used by Data Scientists  
- Create tables using markdown  
- Perform basic arithmetic expressions in Python  
- Convert minutes to hours using Python code

# Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. Matplotlib
3. pandas

| Data science tools| 
| -------------| 
| Jupyter notebook | 
| Visual studio | 
| R|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Alejandro (author)
**Alejandro barrera ruiz**